*, *::after, *::before { box-sizing: border-box }

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

html {
  --color-bg: #EFEFEF;
  --color-fg: #000000;
  background-color: var(--color-bg);
  font-family: system-ui;
  font-size: clamp(.9rem, 2vw, 1.5rem);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body { max-width: 80ch }
summary { cursor: row-resize }
button { cursor: pointer }

section#faq {
  nav ol { padding: 0 }
  nav li { list-style: none }
  nav a {
    display: block;
    padding: .5ex;
    transition: background .2s, border-color .2s;
    border-left: 2px solid lightgray;
  }

  article + article {
    border-top: 1px dashed black;
    padding-block: 2em;
  }

  @media (min-width: 769px) {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 10em;
    grid-template-areas: "main toc";

    nav {
      grid-area: toc;
      align-self: start;
      position: sticky;
      top: 0;
    }

    nav a.active {
      background: rgba(0,0,0,.1);
      border-color: darkgray;
    }
  }
}

h3 { position: relative }
h3 a {
  display: none;
  position: absolute;
  width: 2em;
  left: -2em;
}
h3:hover a { display: block }

.highlight {
  background: oklch(79.38% 0.1621 94.24 / 50%);
}

/* svg icons */
.icon {
  width: 1cap;
  height: 1cap;
}

table {
  margin-inline: auto;
  margin-top: 1em;
  border-spacing: 1em 0;
}

table[data-sum-column] td:first-of-type {
  text-align: right;
  font-family: monospace;
}
table[data-sum-column] tr:last-of-type {
  background: yellow;
}

/* "Logo" */
h1 {
  text-align: center;
  background-color: var(--color-fg);
  background-image: url(./images/bg.jpg);
  background-size: cover;
  padding: 1ch 1em;
  background-clip: text;
  color: transparent;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: '';
  }

  &::before {
    background-color: inherit;
    background-image: inherit;
    background-size: inherit;
    z-index: -2;
    inset: 0;
  }

  &::after {
    background-color: var(--color-bg);
    z-index: -1;
    inset: 8px;
  }
}

.vedtægter {
  h3 { 
    display: inline;
  }
  & > ol, & > ol > li > ol {
    counter-reset: item;
  }
  li { 
    counter-increment: item;
    margin-block: .5rem;
  }
  & > ol > li::marker {
    content: '§' counter(item) '  ';
  }
  & > ol > li > ol > li::marker {
    content: counters(item, '.') '  ';
  }
  @counter-style q {
    system: extends decimal;
    prefix: "§ ";
  }
}
